main{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    height:70vh;
    overflow-y: auto;
    td:nth-child(1){
        text-align: start;
    }
    td:nth-child(2){
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    gap:20px;
    div{
        padding:10px;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        table{
            border-radius: 10px;
        }
        table,th,td {
            border: 1px solid rgb(177, 177, 177);
        }
        th,td{
            padding:7px;
        }
    }
}