main{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    td:nth-child(1){
        text-align: start;
    }
    td:nth-child(2){
        text-align: center;
    }
}