<main>
    <!-- <mat-tab-group>
        <mat-tab label="Food Billing">
            <div class="main">
                <app-categories></app-categories>
                <div class="column">
                    <app-products></app-products>
                    <app-options></app-options>
                </div>
                <app-bill></app-bill>
            </div>
        </mat-tab>
        <mat-tab label="Room Billing">
            <div class="main rooms">
                <div class="column">
                    <app-rooms></app-rooms>
                    <app-options></app-options>
                </div>
                <app-bill></app-bill>
            </div>
        </mat-tab>
    </mat-tab-group> -->
    <div class="main">
        <app-categories></app-categories>
        <div class="column">
            <app-products></app-products>
            <app-options></app-options>
        </div>
        <app-bill></app-bill>
    </div>
</main>