.main{
    display: grid;
    grid-template-columns: 15vw 50vw 35vw;
    overflow-y: auto;
    .column{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5fr 5.5fr;
        max-height: 100vh;
        padding: 5px;
        app-products{
            flex: 6;
        }
        app-options{
            flex: 4;
        }
    }
}
.rooms{
    grid-template-columns: 65vw 35vw;
}