main{
    max-height: 100vh;
    overflow-y: hidden;
    .main{
        display: grid;
        grid-template-columns: 15vw 60vw 25vw;
        overflow-y: hidden;
        .column{
            display: flex;
            flex-direction: column;
            height: calc(100vh - 60px);
            app-products{
                // height: 60%;
                flex: 6;
            }
            app-options{
                flex:4;
                // height:40%;
                overflow-y: hidden;
                // position: relative;
                // bottom: 0px;
            }
        }
    }
    .rooms{
        grid-template-columns: 65vw 35vw;
    }
}