<main >
    <ng-container *ngIf="table">
        <button class="uk-animation-fast productCard" *ngFor="let product of searchedProducts.length > 0 ? searchedProducts : filteredProducts"  (click)="addToBill(product)">
            <div class="info">
                <p class="name">{{product.dishName | titlecase}}</p>
                <div class="priceBar">
                    <div class="price">
                        <p>&#8377;{{product.shopPrice}}</p>
                    </div>
                </div>
            </div>
        </button>
    </ng-container>
    <ng-container *ngIf="!table">
        <!-- <p class="noTable">Please select a table</p> -->
        <p class="noTable">Viraj Systems</p>
    </ng-container>
</main>