header {
  width: 100vw;
  height: 60px;
  z-index: 1000;
  position: relative;
  font-family: 'Poppins', sans-serif;
  box-shadow: var(--normal-shadow);

  nav {
    box-shadow: var(--normal-shadow);
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 0.6fr auto auto 2fr;
    grid-auto-rows: 1fr;
    column-gap: 20px;
    width: calc(100vw - 20px);
    justify-content: space-between;
    background-color: white;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    .branding {
      img{
        transform: scale(0.8);
        margin-top: -10px;
      }
      i {
        color: var(--primary);
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
      }

      span {
        font-size: 30px;
        font-weight: 600;
        color: var(--primary);
        margin-left: 30px;
        font-family: 'Poppins', sans-serif;
      }
    }

    .buttons {
      display: flex;
      // justify-content: space-between;
      gap: 10px;

      button {
        font-size: 13px;
        border-radius: 7px;
        border: none;
        padding: 5px;
        color: var(--primary);
        border: 1px solid var(--primary);
        background-color: white;
        transition: all 0.3s ease;
        font-family: 'Poppins', sans-serif;

        &:hover {
          scale: 1.1;
        }
      }

      .search {
        width: 250px;
        border: 2px solid var(--primary);
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 7px;

        input {
          border: none;
          font-size: 12px;
          width: 190px;
          font-family: var(--primary-font);
          padding: 7px;

          &:focus,
          &:active {
            outline: none;
          }
        }

        i {
          color: var(--primary);
          font-size: 20px;
          cursor: pointer;
        }
      }

      .active {
        width: 350px;
      }
    }

    .actions {
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      button {
        font-size: 18px;
        border-radius: 7px;
        padding: 10px;
        border: none;
        background: transparent;
        transition: all 0.3s ease;
        font-family: var(--primary-font);

        &:hover {
          scale: 1.1;
          background: whitesmoke;
        }

        i {
          font-size: 20px;
          color: var(--primary);
          cursor: pointer;
        }
      }
    }

    .support {
      display: flex;
      column-gap: 20px;
      width: 100%;
      justify-content: center;
      a{
        text-decoration: none;
      }

      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 400;
        color: var(--primary);
        background: transparent;
        border: 1px solid var(--primary);
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        border-radius: 7px;
        background: transparent;
        transition: all 0.3s ease;
        font-family: var(--primary-font);
        padding: 5px;

        &:hover {
          scale: 1.1;
          background: whitesmoke;
        }
        mat-icon{
          margin-right: 5px;
        }
      }
    }
  }
}