<section>
    <form *ngIf="step==1">
        <h1>Cancel</h1>
        <p>Are you sure you want to cancel?</p>
        <button mat-stroked-button color="primary" (click)="step=2;type='unmade'" type="submit">Cancel Un-Made</button>
        <button mat-stroked-button color="primary" (click)="step=2;type='made'" type="submit">Cancel Made</button>
        <button mat-stroked-button color="primary" (click)="close()">No</button>
    </form>
    <form *ngIf="step==2">
        <h1>Cancel</h1>
        <p>Please fill below info to cancel the order.</p>
        <p>
            <textarea type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="reason"
                placeholder="Reason"></textarea>
        </p>
        <p>
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="phoneNumber"
                placeholder="Phone Number">
        </p>
        <button mat-stroked-button color="primary" (click)="submitReason()">Submit</button>
    </form>

</section>