<main>
    <h3>Tables</h3>
    <section>
        <div *ngFor="let table of dataProvider.tables" [class]="table.status== 'occupied' ? 'booked' : 'available'">
            <!-- <p>Name: {{table.name}}</p> -->
            <!-- <p>{{table.status}}</p> -->
            <p>Table No <br> {{table.tableNo}}</p>
            <span *ngIf="table.status != 'available'">Booked</span>
            <span *ngIf="table.status == 'available'">Available</span>
            <!-- <p>Max: {{table.maxOccupancy}}</p> -->
            <button class="empty" *ngIf="table.status == 'occupied'" (click)="selectMenu(table)">Select Menu</button>
            <button class="empty" *ngIf="table.status == 'occupied'" (click)="emptyTable(table)">Mark As Empty</button>
            <button mat-flat-button color="primary" *ngIf="table.status == 'available' || !table.status" (click)="selectRoom(table)">Book</button>
        </div>
    </section>
</main>