<main>
    <h3>Tables</h3>
    <section>
        <div *ngFor="let table of dataProvider.tables" [class]="table.status== 'occupied' ? 'booked' : 'available'" (click)="table.status!= 'occupied' ? selectMenu(table) : {}">
            <!-- <p>Name: {{table.name}}</p> -->
            <!-- <p>{{table.status}}</p> -->
            <p>Table No {{table.tableNo}}</p>
            <span *ngIf="table.status != 'available'">Booked</span>
            <span *ngIf="table.status == 'available'">Available</span>
            <!-- <p>Max: {{table.maxOccupancy}}</p> -->
            <div class="row">
                <button mat-icon-button *ngIf="table.status == 'occupied'" (click)="selectMenu(table)"><mat-icon>check_circle</mat-icon></button>
                <button mat-icon-button *ngIf="table.status == 'occupied'" (click)="emptyTable(table)"><mat-icon>delete</mat-icon></button>
                <button mat-flat-button color="primary" *ngIf="table.status == 'available' || !table.status" (click)="selectRoom(table)">Book</button>
            </div>
        </div>
    </section>
    <hr>
    <h3>Rooms</h3>
    <section>
        <div *ngFor="let table of dataProvider.rooms" [class]="table.status== 'occupied' ? 'booked' : 'available'" (click)="table.status!= 'occupied' ? selectMenu(table) : {}">
            <p>Room No {{table.tableNo}}</p>
            <span *ngIf="table.status != 'available'">Booked</span>
            <span *ngIf="table.status == 'available'">Available</span>
            <div class="row">
                <button mat-icon-button *ngIf="table.status == 'occupied'" (click)="selectMenu(table)"><mat-icon>check_circle</mat-icon></button>
                <button mat-icon-button *ngIf="table.status == 'occupied'" (click)="emptyTable(table)"><mat-icon>delete</mat-icon></button>
                <button mat-flat-button color="primary" *ngIf="table.status == 'available' || !table.status" (click)="selectRoom(table)">Book</button>
            </div>
        </div>
    </section>
</main>