
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$ssspay-palette: (
 50: #ffeccf,
 100: #ffce7a,
 200: #51ffd1,
 300: #0dffbe,
 400:rgb(12, 202, 151),
 500:#00be8b,
 600:#03a479,
 700:#ea7c69,
 800:#016e51,
 900:#008d67,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
 )
);
$my-primary: mat.define-palette($ssspay-palette, 700);
$my-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$my-foreground: mat.define-palette($ssspay-palette, 700);
$my-success: mat.define-palette($ssspay-palette, 600);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent:$my-accent,
    success: $my-success,
 )
));

.mat-button-toggle {
  // background-color: mat-color($my-accent);
  // color: mat-color($my-accent);
}

.mat-button-toggle-checked {
  background-color: #ea7c69 !important;
  color:white !important;
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-theme);

@font-face {
  font-family: 'Bill';
  src: url('assets/fonts/regular.ttf') format('truetype');
}

/* You can add global styles to this file, and also import other style files */
:root{
    --primary:#ea7c69;
    --secondary:#FF8A00;
    --success:#86d188;
    --danger:#ff5151;
    --contrast:rgb(24, 27, 31);
    --primary-contrast: #FFFFFF;
    --secondary-contrast: #FFFFFF;
    --primary-font: "Poppins", sans-serif;
    --normal-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
html,body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow: hidden; }
*{
  font-family: var(--primary-font);
}
#bill,#billKot{
  visibility: hidden;
  font-family: 'Bill' !important;
}
@page { 
  size: 72mm 297mm;
  margin:.5cm;
  // margin: 15px;
  // margin-right: 0mm;
}
@media print { 
  body{
    width: -100%;
    visibility: hidden;
    // display:none;
    margin: 0% !important;
    padding: 0% !important;
    #productsContainer{
      .productCard{
        visibility: hidden;
        display: none;
      }
    }
    header{
      *{
        visibility: hidden;
        display: none;
      }
      #searchBar{
        visibility: hidden !important;
        display: none !important;
      }
    }
    .ri-arrow-right-s-line, .ri-arrow-down-s-fill, .ri-arrow-up-s-fill{
      visibility: hidden;
      display: none;
    }
  }
  #bill,#billKot{
    padding: 0% !important;
    margin: 0% !important;
    visibility: visible !important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: -100%;
    box-shadow: none;
    font-size: 17px;
    overflow-x: visible;
    *{
      overflow-x: visible;
      width:100%;
      font-family: var(--primary-font) !important;
      margin:3px !important;
    }
    h3{
      font-size: 24px !important;
      font-weight: 700 !important;
      // width: 230vw;
    }
    h4{
      font-size: 17px !important;
      font-weight: 600 !important;
      // width: 230vw;
    }
    .topFields{
      font-size: 15px !important;
      text-align: start;
      font-weight:600;
      // width: 230vw;
      padding-left:10px;
    }
    img{
      position: relative;
      top: 0;
      margin: 30px;
      height: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
    table{
      border-top: 2px solid black;
      position: relative;
      // width: 230vw;
      tr{
        th{
          font-size: 18px;
          font-weight: 600;
          padding: 10px;
          border-bottom: 2px solid black;
        }
        tr{
          border-bottom: 2px solid black;
        }
        th,td{
          text-align: center;
          font-size: 17px !important  ;
          font-weight: 600;
        }
        td:nth-child(1){
          text-align:start;
        }
      }
    }
    hr{
      border-bottom: 2px solid black;
      height: 0px;
      padding:0px;
      // width: 230vw;
    }
    .row{
      display: flex;
      justify-content: space-between;
      h4{
        width: fit-content;
      }
    }
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
    }
    .detail{
      font-size: 17px;
      font-weight: 600;
    }
    .tax{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
      margin-bottom: -5px;
      p{
        margin-bottom: -5px;
        padding:0px;
        font-size: 17px;
        font-weight: 600;
      }
    }
    .total{
      font-size: 23px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
    }
    p.thanking{
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
  }
}