<main>
    <mat-tab-group>
        <mat-tab label="Saved Orders">
            <div class="savedOrdersContainer">
                <div class="savedOrder" *ngFor="let savedMenu of kots">
                    <p><b>Total Products:</b> {{savedMenu.kots?.length}}</p>
                    <p><b>User Id:</b> {{savedMenu.user}}</p>
                    <p><b>Date:</b> {{savedMenu.date.toDate() | date}}</p>
                    <p *ngIf="savedMenu.date.table">Table No: {{savedMenu.date.table.tableNo}}</p>
                    <button color="primary">Complete</button>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <h3 *ngIf="kots.length==0">No customers found</h3>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Old KOTs">
            <div class="oldKotsContainer">
                <div class="kot" *ngFor="let kot of kots">
                    <p>Table No: {{kot.tableNo}}</p>
                    <p>Waiter: {{kot.waiter}}</p>
                    <p>Time: {{kot.time | date}}</p>
                    <p>Products: {{kot.products.length}}</p>
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                        <tr *ngFor="let product of kot.products">
                            <td>{{product.dishName}}</td>
                            <td>{{product.quantity}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-tab> -->
        <mat-tab label="Customers">
            <div class="customerContainer">
                <div class="customer" *ngFor="let bill of customers">
                    <img src="assets/person.svg">
                    <p>{{bill?.customerInfoForm?.fullName || 'N/P'}}</p>
                    <p>{{bill?.customerInfoForm?.email || 'N/P'}}</p>
                    <p>{{bill?.customerInfoForm?.phoneNumber || 'N/P'}}</p>
                    <p>Total KOTs: {{bill?.kots?.length}}</p>
                    <p>Table: {{bill?.table?.name}}</p>
                    <p>Date: {{bill?.date?.toDate() | date}}</p>
                    <!-- <p>{{18/02/1996}}</p> -->
                    <!-- <p></p> -->
                </div>
                <h3 *ngIf="customers.length==0">No customers found</h3>
                <p>*Records are based on customer data inside bills.</p>
            </div>
        </mat-tab>
        <mat-tab label="Cancelled Orders">
            <div class="savedOrdersContainer">
                <ng-container *ngFor="let deletedMenu of cancelledBills">
                    <div class="savedOrder cancelled" *ngIf="deletedMenu.deleted">
                        <p><b>Total Kots:</b> {{deletedMenu?.kots.length}}</p>
                        <p><b>User Id:</b> {{deletedMenu?.user}}</p>
                        <p><b>Reason:</b> {{deletedMenu?.reason}}</p>
                        <p><b>Phone:</b> {{deletedMenu?.reason}}</p>
                        <p><b>Date:</b> {{deletedMenu?.date.toDate() | date}}</p>
                        <p *ngIf="deletedMenu?.date.table">Table No: {{deletedMenu?.date.table.tableNo}}</p>
                        <button mat-flat-button color="primary" (click)="recover(deletedMenu)">Recover</button>
                    </div>
                </ng-container>
                <h3 *ngIf="cancelledBills.length==0">No customers found</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </mat-tab>
    </mat-tab-group>
</main>