<div>
    <h1>Settings</h1>
    <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
        <mat-form-field appearance="fill">
            <mat-label>Choose Printer For KOT</mat-label>
            <mat-select formControlName="kotPrinter">
              <mat-option>Clear</mat-option>
              <mat-option value="valid"></mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose Printer For Bill</mat-label>
            <mat-select formControlName="billPrinter">
              <mat-option>Clear</mat-option>
              <mat-option value="valid">Valid option</mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</div>